@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black: #475569;
    --white: #F8FAFC;
    --gray: #94A3B8;
    --blueBg: #0583F2;
    --darkBlueBg: #0540F2;
    --red: #DC2626;
    --lightRed: #FEE2E2;
    --green: #059669;
    --lightGreen: #D1FAE5;
    --blue: #0284C7;
    --lightBlue: #E0F2FE;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

img {
    pointer-events: none;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png"), linear-gradient(to top, var(--darkBlueBg), var(--blueBg));
}


/* NAV */

nav {
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}

nav a{
    color: white;
    text-decoration: none;
    flex: 2;
    text-align: center;
}

nav h1{
    flex: 2;
    text-align: center;
    font-weight: 900;
    color: var(--white);
}

/* INPUT */
input {
    all: unset;
}


/* CONTAINER DE INPUTS */
.container {
    width: 500px;
    margin: auto;
}

.container li {
    height: 45px;
    display: flex; /*display flex já remove o style type da LI*/
    align-items: center;
    margin-top: 1rem;
    border-radius: 10px;
}

.icon {
    margin: 0 .7em;
}

div.emojis {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    overflow: hidden;
    font-size: 3.7rem;
    background-color: var(--white);
    border: solid 2px var(--black);
    border-radius: 10px;
}

/* ESTILO DAS RESPOSTAS */
.toAns {
    background-color: var(--lightBlue);
    border: solid 2px var(--blue);
    color: var(--blue);
}

.toAns .chat {
    display: inline-block;
}

.toAns input::placeholder {
    color: var(--blue);
}


.input {
    background-color: var(--white);
    border: solid 2px var(--black);
    color: var(--black);
}

.correct {
    background-color: var(--lightGreen);
    border: solid 2px var(--green);
    color: var(--green);
}

.wrong {
    background-color: var(--lightRed);
    border: solid 2px var(--red);
    color: var(--red);
}

/* HIDE EMOJIS */
#emoji2,
#emoji3,
#emoji4,
#emoji5 {
    visibility: hidden;
    transform: translateY(100%);
    object-fit: cover;
}

.visible {
    transition: 0.5s;
    visibility: visible !important;
    transform: translateY(0) !important;
}

/* MODAL */

.card {
    position: absolute;
    z-index: 999;
    padding: .3em .5em;
    width: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    transition: transform 0.5s;
    
    border-radius: 10px;
    border: currentColor 2px solid;
    font-weight: 700;
}

.cardCorreto{
    transform: translateY(110%);
    background-color: var(--lightGreen);
    color: var(--green);
}

.cardErrado{
    transform: translateY(110%);
    transition: transform 0.5s;
    background-color: var(--lightRed);
    color: var(--red);
}

.closeCard{
    transform: translateY(-110%);
}