@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black: #475569;
    --white: #F8FAFC;
    --gray: #94A3B8;
    --blueBg: #0583F2;
    --darkBlueBg: #0540F2;
    --red: #DC2626;
    --lightRed: #FEE2E2;
    --green: #059669;
    --lightGreen: #D1FAE5;
    --blue: #0284C7;
    --lightBlue: #E0F2FE;
    --yellow: #B0891C;
    --lightYellow: #F8EED3;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

img {
    pointer-events: none;
}

body {
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    background: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png"), linear-gradient(to top, var(--darkBlueBg), var(--blueBg));
}

h1 a {
    font-weight: bolder;
}

.modal a {
    color: rgb(10, 133, 227);
    font-weight: 600;
}

/* NAV */

nav {
    padding-top: 1rem;
    width: 500px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 2rem;
}

nav a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

nav a+a {
    margin-left: 1.5rem;
}

nav h1 {
    font-weight: 900;
    color: var(--white);
}

/*MAIN PAGE*/
.welcome {
    color: var(--white);
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
}

.welcome b {
    font-weight: 700;
}

.welcome label {
    font-size: 1rem;
    background-color: var(--white);
    padding: 0.5rem 1rem;
    border: currentColor solid 2px;
    border-radius: 1rem;
}

.welcome a {
    color: currentColor;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.welcome div {
    margin-top: 2rem;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.welcome .daily {
    color: var(--yellow);
    background-color: var(--lightYellow);
}

.welcome .perCategory {
    color: var(--green);
    background-color: var(--lightGreen);
}

.comoFunciona{
    background-color: var(--white);
    border-radius: 2rem 2rem 0 0;
    padding: 5rem 3rem;
    text-align: center;
}

.main{
    height: 85vh!important;
}

.comoFunciona h1{
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.comoFunciona h2 {
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: 600;
}

.comoFunciona svg{
    width: 100px;
    height: 100px;
    padding-bottom: 1rem;
}

.comoFunciona .cardsContainer{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.comoFunciona .card{
    width: 350px;
    padding: 2rem;
    border: solid var(--gray) 2px;
    border-radius: 1rem;
}

/* INPUT */
input {
    all: unset;
    width: 100%;
    height: 100%;
}

.container h2.theme {
    margin: 0.5rem auto;
    padding: 0.2rem 1rem;
    width: fit-content;
    background-color: var(--white);
    color: var(--black);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 800;
    border: solid currentColor 2px;
    border-radius: 1rem;
}

/* CONTAINER DE INPUTS */
.container {
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li {
    height: 45px;
    display: flex;
    align-items: center;
    margin-top: 1rem;

    border-radius: 10px;
}

li * {
    margin-left: 0.7rem;
}

div.emojis {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    overflow: hidden;
    width: 100%;
    height: 110px;
    min-height: 110px;
    font-size: 3.7rem;
    background-color: var(--white);
    border: solid 2px var(--black);
    border-radius: 10px;
}

.howtoplay {
    position: absolute;
    margin: auto;
}

/* ESTILO DAS RESPOSTAS */
.toAns {
    background-color: var(--lightBlue);
    border: solid 2px var(--blue);
    color: var(--blue);
}

.toAns input::placeholder {
    color: var(--blue);
}


.input {
    background-color: var(--white);
    border: solid 2px var(--black);
    color: var(--black);
}

.input input::placeholder {
    color: var(--gray);
}

.correct {
    background-color: var(--lightGreen);
    border: solid 2px var(--green);
    color: var(--green);
}

.wrong {
    background-color: var(--lightRed);
    border: solid 2px var(--red);
    color: var(--red);
}

/* HIDE EMOJIS */
#emoji2,
#emoji3,
#emoji4,
#emoji5 {
    visibility: hidden;
    transform: translateY(100%);
    object-fit: cover;
}

.visible {
    transition: 0.5s;
    visibility: visible !important;
    transform: translateY(0) !important;
}

/* TOAST */
.toast {
    position: fixed;
    z-index: 99999;
    height: 35px;
    padding: 0 1rem;
    max-width: max-content;

    display: flex;
    justify-content: center;
    align-items: center;

    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    transition: transform 0.5s;
    transform: translateY(-100%);

    border-radius: 10px;
    border: currentColor 2px solid;
    font-weight: 700;

}

.toastC {
    transform: translateY(-100%);
    background-color: var(--lightGreen);
    color: var(--green);
}

.toastW {
    transform: translateY(-100%);
    background-color: var(--lightRed);
    color: var(--red);
}

.closeToast {
    transform: translateY(100%);
}

/* MODAL */
.modal {
    display: none;
    background-color: var(--white);
    position: fixed;
    width: 500px;
    max-height: 550px;
    border: solid var(--gray) 2px;
    border-radius: 20px;
    padding: 1rem 2rem;
    overflow-y: auto;
    z-index: 9999;
}

.modal h1{
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
}

.modal h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.modal h3 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.modal h4 {
    text-align: center;
    font-weight: bold;
}

.modal p {
    margin-bottom: 1.5rem;
}

#overlay {
    display: none;
    z-index: 9999;
    position: fixed;
    content: '';
    background-color: black;
    opacity: 0.7;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.modal.clip ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: currentColor solid 2px;
}

.modal.clip li {
    flex-direction: column;
    height: max-content;
    width: 30%;
    border: currentColor solid 2px;
}

.modal.clip li * {
    margin: 0;
}

.modal.clip li.defeat {
    color: var(--red);
    border: currentColor solid 2px;
    background-color: var(--lightRed);
}

.modal.clip footer {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.modal.clip span {
    font-size: 1.8rem;
    font-weight: 900;
}

.modal .colaborators {
    display: flex;
    justify-content: space-between;
    border-bottom: dashed 1px currentColor;
    line-height: 1rem;
    margin-bottom: 0.6rem;
    font-weight: bold;
}

#clip {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 0.5rem;
    background-color: var(--lightBlue);
    color: var(--blue);
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    border: currentColor solid 2px;

}

#refresh {
    margin: 1rem auto;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 0.5rem;
    background-color: var(--lightGreen);
    color: var(--green);
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    border: currentColor solid 2px;

}

/* CATEGORIAS */
.swiper {
    left: 0;
    position: absolute;
    width: 100vw;
    height: calc(80% - 50px);
}

.swiper-slide {
    height: 80%;
    text-align: center;
    font-size: 3rem;
    border-radius: 1rem;
    font-weight: 700;
    line-height: 3rem;
}

.swiper-slide svg {
    z-index: 1;
    position: absolute;
    color: var(--white);
    width: 60%;
    height: 80%;
    left: calc(20%);
}

.swiper-slide footer {
    z-index: 2;
    border-radius: 1rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0) 30%, currentColor 100%);
}

.swiper-slide span {
    z-index: 3;
    color: var(--white);
    padding: 3rem 3rem;
}

#horror a {
    color: #C50C00;
}

#horror {
    background-color: #2D0300;
}

#series a {
    color: #6200DE;
}

#series {
    background-color: #0d011e;
}

#adam a {
    color: #FBE200;
}

#adam {
    background-color: #262200;
}

#action a {
    color: #C87539;
}

#action {
    background-color: #2D1A0D;
}

#comedy a {
    color: #00DE81;
}

#comedy {
    background-color: #001f12;
}

#cartoon a {
    color: #dbb300;
}

#cartoon {
    background-color: #442200;
}

#scifi a {
    color: #3000de;
}

#scifi {
    background-color: #0e0041;
}

#drama a {
    color: #DC2626;
}

#drama {
    background-color: #2D0300;
}

/* RESPONSIVIDADE */
@media screen and (max-width: 600px) {

    nav,
    .container {
        width: 90%;
    }

    nav a+a {
        margin-left: 0.5rem;
    }

    div.emojis {
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -o-sticky;
        position: -ms-sticky;
        position: sticky;
        top: 60px;
        font-size: 2.3rem;
        height: 70px;
        min-height: 70px;
    }

    .modal {
        width: 90%;
        padding: 0.5rem 1rem;
    }

    .modal h4 {
        font-size: 0.8rem;
    }

    .modal.clip ul {
        gap: 20px
    }

    .modal.clip li {
        flex: 40%;
    }

    .modal.clip span {
        font-size: 1.3rem;
    }

    #clip {
        font-size: 1rem;
        gap: 0.2rem;
        padding: 0.1rem 0.3rem;
    }

    #clip svg {
        height: 16px;
    }

    /* MAIN PAGE */
    .welcome div {
        margin-top: 2rem;
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }

    .welcome label {
        width: 70%;
    }

    .comoFunciona .cardsContainer{
        flex-direction: column;
    }

    .comoFunciona .card{
        width: 100%;
    }
}